<article class="thought">
    <div class="title">
        <a href="/thought/{{id}}" target="_blank">{{thoughtText}}</a>
        <span>Posted by {{user.username}} on {{created_at}}</span>
    </div>
    <div class="reactions">
        {{reactions}}
    </div>
</article>